.edit-form {
    text-align: left;
}

.edit-form span {
    font-weight: bold;
    text-align: right;
    width: 6em;
    float: left;
    padding-right: 1em;
    padding-top: 3px;
}

.button-bar {
    float: right;
}

.details {
    padding: 4px;
    border: 1px solid #ccc;
    border-top: 1px solid #666;
    font-size: 100%;
    -moz-box-shadow: 1px 1px 2px hsla(0, 0%, 0%, .3);
    -webkit-box-shadow: 1px 1px 2px hsla(0, 0%, 0%, .3);
    box-shadow: 1px 1px 2px hsla(0, 0%, 0%, .3); /* Opera, IE 9 */
}
